#php_flag magic_quotes_gpc Off
AddDefaultCharset utf-8
DirectoryIndex index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) index.php
#RewriteCond %{REQUEST_URI} !^\/resources/styles/(.*).css
#RewriteCond %{REQUEST_URI} !^\/resources/images/(.*).png
#RewriteCond %{REQUEST_URI} !^\/resources/images/(.*).jpg
#RewriteCond %{REQUEST_URI} !^\/resources/lib/jquery/(.*).js